*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-color:#39a2a8;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
h1{
    position: absolute;
    padding: 10px;
    float: left;
    margin-left: 2%;
    margin-top: 20px;
    font-family: sans-serif, cursive;
    color: #e6e7ee;
    font-size: 40px;
}
span{
    color: #8acfbf;
}
ul{
    width: auto;
    float: right;
    margin-top: 8px;
}
li{
    display: inline-block;
    padding: 35px 25px;
}
a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: open sans-serif;
    font-size: 1.2vw;
}
a:hover{
    color: #f0c330;
    transition: 0.5s;
}

.logo{
    width: 100px;
    cursor: pointer;
}
button{
color: #000000;
padding: 10px 25px;
background: transparent;
border: 1px solid rgb(0, 0, 0);
border-radius: 20px;
outline: none;
cursor: pointer;
}
.contain{
width: 100px;
padding-top: 8%;
background-size: cover;
left: 15%;
padding-left: 15% ;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top:65%;
    left:3%;
    width: 210px;
    height: 210px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container0 {
    padding: 2px 16px;
  }
  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top:65%;
    left:26%;
    width: 210px;
    height: 210px;
  }
  
  .card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 10px 10px 0 0;
  }
  
  .container1 {
    padding: 2px 16px;
  }
  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top:65%;
    left:49%;
    width: 210px;
    height: 210px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container2 {
    padding: 2px 16px;
  }
  .card3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top:65%;
    left:72%;
    width: 210px;
    height: 210px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container3 {
    padding: 2px 16px;
  }
h2{
    font-size: 60px;
    margin: 10px 0 30px;
    line-height: 80px;
}

.social-links img, .useful-links img {
width: 25px;
margin: 5px auto;
cursor: pointer;
}
.social-links{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left:96%;
    transform: translateY(-50%);
}
.useful-links{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 96%;
}
